:root{
  --skyBlue: #283792
}

.nav {
  display: flex;
  justify-content: space-around;
}

body {
  background-image: url('https://wallpapercave.com/wp/Kj5cd8B.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.title {
  color: white;
  font-size: 2.4rem;
}

.allCards {
  /* width: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.active {
  display: flex;
  transition-duration:  1s;
  /* background-color: rgb(13, 58, 109); */
  width: 85%;
  gap: 20px;
  margin-top: 40px;
  color: white;
  font-weight: 600;
}

.card {
  border: 2px solid white;
  padding: 10px;
  width: 200px;
  transition-duration: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transition-duration: 2s;
  transform: scale(1.3);
  background-color: rgba(168, 165, 165, 0.685);
}

.img {
  width: 100px;
}

.msg {
  color: white;
}

.card > p {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


