.search {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searched-city {
  color: white;
  font-size: 2em;
  margin-top: 20px;
  font-weight: 700;
}

.search-input {
  height: 30px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  border: none;
  margin-right: 10px;
  font-weight: 500;
  font-size: 16px;
}

.search-btn {
  background-color: #39146d;
  height: 30px;
  width: 120px;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: 600;
}

.magnifier {
  position: absolute;
  margin-top: 5px;
  margin-left: 9.2%;
  zoom: 125%;
}